In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv('DataCoSupplyChainDataset.csv',encoding= 'unicode_escape')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 53 columns):
Type                             180519 non-null object
Days for shipping (real)         180519 non-null int64
Days for shipment (scheduled)    180519 non-null int64
Benefit per order                180519 non-null float64
Sales per customer               180519 non-null float64
Delivery Status                  180519 non-null object
Late_delivery_risk               180519 non-null int64
Category Id                      180519 non-null int64
Category Name                    180519 non-null object
Customer City                    180519 non-null object
Customer Country                 180519 non-null object
Customer Email                   180519 non-null object
Customer Fname                   180519 non-null object
Customer Id                      180519 non-null int64
Customer Lname                   180511 non-null object
Customer Password                180519 non-null object
Customer Segment                 180519 non-null object
Customer State                   180519 non-null object
Customer Street                  180519 non-null object
Customer Zipcode                 180516 non-null float64
Department Id                    180519 non-null int64
Department Name                  180519 non-null object
Latitude                         180519 non-null float64
Longitude                        180519 non-null float64
Market                           180519 non-null object
Order City                       180519 non-null object
Order Country                    180519 non-null object
Order Customer Id                180519 non-null int64
order date (DateOrders)          180519 non-null object
Order Id                         180519 non-null int64
Order Item Cardprod Id           180519 non-null int64
Order Item Discount              180519 non-null float64
Order Item Discount Rate         180519 non-null float64
Order Item Id                    180519 non-null int64
Order Item Product Price         180519 non-null float64
Order Item Profit Ratio          180519 non-null float64
Order Item Quantity              180519 non-null int64
Sales                            180519 non-null float64
Order Item Total                 180519 non-null float64
Order Profit Per Order           180519 non-null float64
Order Region                     180519 non-null object
Order State                      180519 non-null object
Order Status                     180519 non-null object
Order Zipcode                    24840 non-null float64
Product Card Id                  180519 non-null int64
Product Category Id              180519 non-null int64
Product Description              0 non-null float64
Product Image                    180519 non-null object
Product Name                     180519 non-null object
Product Price                    180519 non-null float64
Product Status                   180519 non-null int64
shipping date (DateOrders)       180519 non-null object
Shipping Mode                    180519 non-null object
dtypes: float64(15), int64(14), object(24)
memory usage: 73.0+ MB

In [6]:
df.head()

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Order Zipcode,Product Card Id,Product Category Id,Product Description,Product Image,Product Name,Product Price,Product Status,shipping date (DateOrders),Shipping Mode
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,2/3/2018 22:56,Standard Class
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/18/2018 12:27,Standard Class
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/17/2018 12:06,Standard Class
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/16/2018 11:45,Standard Class
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,NaN,1360,73,NaN,http://images.acmesports.sports/Smart+watch,Smart watch,327.75,0,1/15/2018 11:24,Standard Class

In [7]:
df.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id',
       'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status',
       'Order Zipcode', 'Product Card Id', 'Product Category Id',
       'Product Description', 'Product Image', 'Product Name', 'Product Price',
       'Product Status', 'shipping date (DateOrders)', 'Shipping Mode'],
      dtype='object')

In [9]:
df.isnull().sum()

Type                                  0
Days for shipping (real)              0
Days for shipment (scheduled)         0
Benefit per order                     0
Sales per customer                    0
Delivery Status                       0
Late_delivery_risk                    0
Category Id                           0
Category Name                         0
Customer City                         0
Customer Country                      0
Customer Email                        0
Customer Fname                        0
Customer Id                           0
Customer Lname                        8
Customer Password                     0
Customer Segment                      0
Customer State                        0
Customer Street                       0
Customer Zipcode                      3
Department Id                         0
Department Name                       0
Latitude                              0
Longitude                             0
Market                                0
Order City                            0
Order Country                         0
Order Customer Id                     0
order date (DateOrders)               0
Order Id                              0
Order Item Cardprod Id                0
Order Item Discount                   0
Order Item Discount Rate              0
Order Item Id                         0
Order Item Product Price              0
Order Item Profit Ratio               0
Order Item Quantity                   0
Sales                                 0
Order Item Total                      0
Order Profit Per Order                0
Order Region                          0
Order State                           0
Order Status                          0
Order Zipcode                    155679
Product Card Id                       0
Product Category Id                   0
Product Description              180519
Product Image                         0
Product Name                          0
Product Price                         0
Product Status                        0
shipping date (DateOrders)            0
Shipping Mode                         0
dtype: int64

In [12]:
df['Shipping Mode'].value_counts()/df.shape[0]

Standard Class    0.596901
Second Class      0.195082
First Class       0.154078
Same Day          0.053939
Name: Shipping Mode, dtype: float64

In [13]:
df['Late_delivery_risk'].value_counts()/df.shape[0]

1    0.548291
0    0.451709
Name: Late_delivery_risk, dtype: float64